.gridContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

.itemOne {
	grid-column: 1/2;
	grid-row: 1;
}

.itemTwo {
	grid-column: 2/3;
	grid-row: 1;
}

.largeFont {
	font-size: 1.1rem;
}

.smallFont {
	font-size: 0.8rem;
	font-weight: 700;
	margin-left: 3%;
}

.cardBlurb {
	font-size: 0.7rem;
	a {
		color: pink;
	}
}
