.modalContainer {
	display: flex;
	min-height: 300px;
	img {
		min-width: 100px;
		min-height: 100px;
	}
}

.divider {
	height: 2px;
	width: 100%;
	background-color: #989898;
}

@media (max-width: 600px) {
	.modalContainer {
		flex-direction: column;
	}
}
